* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

:root {
    --footerCol: #052833;
    --sidebarMenu: #145266;
    --side: #2E7E99;
    --sidebar: #52ADCC;
    --New-Swatch: #80DFFF;
}


/* Container CSS Here */
.container{
    height: 100vh;
    font-size: 26px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 10fr 1fr;
}

a{
    text-decoration: none;
}

/* Header CSS Here */
.header{
    display: grid;
    grid: 1fr 1fr/ 3fr 1fr; 
    box-shadow: 0 14px 28px  rgba(64, 87, 129,.25), 0 10px 10px rgba(64, 87, 129,.22);
    position: sticky;
    top: 0;
}

form{
    display: flex;
    align-items: center;
    font-size: 28px;
    padding-left: 1em;
}

label >svg{
    padding-right: .5em;

}

input{
    border-radius: .3vh;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #80dfff6a;
}

.smallName{
    display: flex ;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
}

.smallName, .searchBox{
    padding-bottom: .7em;
}

.bigName, .newAction{
    display: flex;
    align-items: center;
    padding: 1em 1em 0;

}

.intro{
    font-size: .5em;
    font-weight: bold;
}

.newAction, .newAction > form{
    padding-left: 0;
}

.newAction >form{
    display: flex;
}
 

button{
    border: none;
    padding: 10px 30px;
    border-radius: .9vh;
    background-color: #52ADCC; 
    margin: 20px 10px;
    color: white;

}
/* Sidebar CSS Here */

.sidebar{
    grid-row: 1/3;
    background-color: var(--sidebar);
    color: white;
    display: grid;
    grid-template-rows:1fr 10fr;
    padding: 0 20px 0 20px ;
    justify-content: start;
}

.logo{
    display: inline-flex;
    align-items: center; 
    font-weight: bolder;
    font-size: 1.5em;     
}

svg, img{
    width: 1em;
    height: 1em;
    padding-right: .5em;
}

.logo svg{
    padding-right: .16em;
}
a > svg{
    padding-left: .25em;
}
.sidebar-menu{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

ul{
    list-style-type: none;
}



.sidebar-menu > ul > li > a{
    color: var(--sidebarMenu);

    padding: 0px 0 10px 0;
    display: flex;
    align-items: center;

}

.second-list{
    align-self: end;
    padding-bottom: 10px;
    
}

.footer{
    grid-column: 1/3;
    background-color: var(--footerCol);
    
}
/* Content CSS Here */
.content{
    display: grid;
    grid: 1fr/ 4fr 1fr
    
}

.projects{
    display: grid;
    height: 800px;
    grid-template-columns: repeat(auto-fit ,minmax( 200px ,300px));
    min-width:0;
    gap: 20px;
    overflow: scroll;

}

.project{
    height: 400px;
}