* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

:root {
    --New-Swatch: #052833;
    --sidebarMenu: #145266;
    --side: #2E7E99;
    --sidebar: #52ADCC;
    --New-Swatch: #80DFFF;
}


/* Container CSS Here */
.container{
    height: 100vh;
    font-size: 26px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 10fr 1fr;
}

a{
    text-decoration: none;
}


.header{
    
}
 
/* Sidebar CSS Here */

.sidebar{
    grid-row: 1/3;
    background-color: var(--sidebar);
    color: white;
    display: grid;
    grid-template-rows:1fr 10fr;
    padding: 0 20px 0 20px ;
    justify-content: start;
}

.logo{
    display: inline-flex;
    align-items: center; 
    font-weight: bolder;
    font-size: 1.5em;     
}

svg{
    width: 1em;
    height: 1em;
    padding-right: .5em;
}

.logo svg{
    padding-right: .16em;
}
a > svg{
    padding-left: .25em;
}
.sidebar-menu{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar-menu > ul{
    list-style-type: none;
}

.sidebar-menu > ul > li > a{
    color: var(--sidebarMenu);

    padding: 0px 0 10px 0;
    display: flex;
    align-items: center;

}

.second-list{
    align-self: end;
    padding-bottom: 10px;
    
}

.footer{
    grid-column: 1/3;
    
}
/* Content CSS Here */
.content{
    
}